


/* Barra de navegacion */

.navbar{
   background-color: #ececec ; 
 }

 .navbar a {
    color: #ff7300;
    font-weight:bold;
    font-size: 20px;
 }

/* Body Background */
 
 body{
    background:#f1efef;

 }


 /* Seccion 2 */
.section2 h3 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: #ff7300;
}

.section2 p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #555353;
    font-size: 20px;

}

.card-body h5{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ff7300;
    font-weight: bolder;
}

.subtitle h4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080F56;
    font-weight: bolder;
}

.btn {
    color: #fffdfd;
    background-color: #ff7300;
    border-color: #ff7300;
}


/* Seccion 3 */

.section3 .encabezado{
    margin-top: 250px;
}

.section3 .encabezado h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 80px;

}

.section3 .encabezado p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

}

.section3{

    background-image:linear-gradient(rgba(5,7,12), rgba(18, 27, 48, 0.75)), url('../Imagenes/seccion3.jpg');
    background-size: cover;
    background-position: center;
 }

.section3 h2 {
    color: aliceblue;
    font-weight:bold;
    font-size: 60px;

}

.section3 p {
    color: aliceblue;
    font-weight: lighter;
}

/* Seccion 4 */

.section4 .encabezado2 h3{

    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 35px;
    color: #ff7300;
}

.section4 p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #555353;
    font-size: 17px;

}

.card .logo {
    padding-left: 40px;
    padding-top: 25px;   
    
}

.section4 .card-body h5{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #080F56;
}

.section4 .card-body p{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #555353;
}



/* Footer */

.pie-pagina {
    width: 100%;
    height: 60%;
    background-color: #080F56;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
    padding: 20px 20px;
}


.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}  

.pie-pagina .grupo-1 .box figure img {
    width: 190px;

}

.pie-pagina .grupo-1 .box h2{
    color: aliceblue;
    font-size: 23px;
    text-align: center;
  
}

.pie-pagina .grupo-1 .box p{
    font-size: 13px;
    color: aliceblue;
    text-align: center;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: aliceblue;
    margin-right: 10px;
    text-align: center;
    background-color: #1320b4;
    transition: all 300ms ease;

}


.pie-pagina .grupo-1 .box3{
    padding-left: 20px;
}

.pie-pagina .grupo-1 .box3 h2{
    font-size: 23px;
    color: aliceblue;
   
}


.pie-pagina .grupo-1 .red-social a:hover{

    color: #ff7300;
}

.pie-pagina .grupo-2{
    background-color: #080F56;
    padding: 15px 10px;
    text-align: center;
    color:aliceblue;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    
}