/* Barra de navegacion */

.navbar{
    background-color: #ececec ; 
  }
 
  .navbar a {
     color: #080F56;
     font-weight:bold;
  }
 
 /* Body Background */
  
  body{
     background:#D9D9D9;
 
  }

.perfil .foto_perfil{
    width: 180px;
    height: 180px;
    object-fit: cover;
}











  
  /* Footer */

.pie-pagina {
    width: 100%;
    height: 60%;
    background-color: #080F56;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 30px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}  

.pie-pagina .grupo-1 .box figure img {
    width: 120px;

}

.pie-pagina .grupo-1 .box h2{
    color: aliceblue;
    font-size: 23px;
    text-align: center;
  
}

.pie-pagina .grupo-1 .box p{
    font-size: 13px;
    color: aliceblue;
    text-align: center;
}

.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: aliceblue;
    margin-right: 10px;
    text-align: center;
    background-color: #1320b4;
    transition: all 300ms ease;

}


.pie-pagina .grupo-1 .box3{
    padding-left: 90px;
}

.pie-pagina .grupo-1 .box3 h2{
    font-size: 23px;
    color: aliceblue;
   
}


.pie-pagina .grupo-1 .red-social a:hover{

    color: #ff7300;
}

.pie-pagina .grupo-2{
    background-color: #080F56;
    padding: 15px 10px;
    text-align: center;
    color:aliceblue;
}

@media screen and (max-width:800px) {
    .pie-pagina .grupo-1 {
        width: 100%;
        grid-template-columns: repeat(1,1fr);
        grid-gap: 30px;
        padding: 35px 0px;
    }
    
}